[submodule "http-log-server"]
	path = http-log-server
	url = git@github.com:tonussi/http-log-server.git
[submodule "stateful-http-api-replication"]
	path = stateful-http-api-replication
	url = git@github.com:tonussi/stateful-http-api-replication.git
[submodule "tcc-written-part"]
	path = tcc-written-part
	url = git@github.com:tonussi/tcc-written-part.git
[submodule "tcc-artigo-sbc"]
	path = tcc-artigo-sbc
	url = git@github.com:tonussi/tcc-artigo-sbc.git
[submodule "hermes"]
	path = hermes
	url = git@github.com:tonussi/hermes.git
[submodule "planilha-defesa-tcc"]
	path = planilha-defesa-tcc
	url = git@github.com:tonussi/planilha-defesa-tcc.git
